* {
    margin: 0;
    padding: 0;
    /* BORDER */
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    display: flex;
    height: 100%;
}
body {
    flex: 1;
    display: flex;
    color: white;
    /* FONT */
    font-family: 'Press Start 2P', cursive;
}

button {
    background-color: transparent;
    font-family: 'Press Start 2P', cursive;
}
a {
    color: inherit;
    text-decoration-line: none;
}


/*** FLEX ***/
/* FLEX DISPLAY */
.fx {
    display: flex;
}
/* DISPLAY + SIZE */
.fx1 {
    flex: 1;
    display: flex;
}
.fx2 {
    flex: 2;
    display: flex;
}
.fx3 {
    flex: 3;
    display: flex;
}
.fx4 {
    flex: 4;
    display: flex;
}
.fx5 {
    flex: 5;
    display: flex;
}
/* FLEX SIZE */
.fx-1 {
    flex: 1;
}
.fx-2 {
    flex: 2;
}
.fx-3 {
    flex: 3;
}
.fx-4 {
    flex: 4;
}
.fx-5 {
    flex: 5;
}
.--col {
    flex-direction: column;
}

/* CENTER */
.--ctr {
    align-items: center;
    justify-content: center;
}
/* VERTICAL CENTER */
.--vctr {
    align-items: center;
}
/* HORIZONTAL CENTER */
.--hctr {
    justify-content: center;
}
/* TEXT CENTER */
.--tctr {
    text-align: center;
}

#wrapper {
    background-color: rgb(15, 15, 15);
}

header {
    background: #272727;
}
main {
    background: lightslategray;
}
footer {
}
/***** COMPUTER *****/
@media screen and (orientation:landscape) {
    main {
    }
}
/***** MOBILE *****/
@media screen and (orientation:portrait) {
    .--computer {
        display: none!important;
    }
}

/* PADDING */
.--pad5 {
    padding: 5px;
}
.--pad10 {
    padding: 10px;
}
.--pad15 {
    padding: 15px;
}
.--pad20 {
    padding: 20px;
}
.--pad25 {
    padding: 25px;
}
.--pad50 {
    padding: 50px;
}

/* LINK STYLING */
.__link--green {
    color: lightgreen;
}
.__link--green:hover {
    color: lightseagreen;
}
.__link--def {
    color: lightskyblue;
}
.__link--def:hover {
    color: blue;
}

.--outline {
    outline: 1px solid lightgreen;
}


.--pointer {
    cursor: pointer;
}
summary::marker {
    content: '>';
    color: green;
}
details[open] > summary::marker {
    content: '<';
}

.--js {
    display: none;
}

/* OCULTAR ICONO EN PC */
@media screen and (orientation:landscape) {
    #toggle-menu, #phone-menu {
        display: none!important;
    }
    #wrapper {
        display: flex!important;
    }
}
/* PERFECT PHONE MENU REWORK TO LAYOUT IN PROGRESS */
@media screen and (orientation:portrait) {
    /* ICONO */
    #toggle-menu {
        position: fixed;
        top: 0;right: 0;
        z-index: 2;
    }
    #menu-icon {
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
    /* MENÚ */
    #phone-menu {
        flex: 1;
        display: none;
        flex-direction: column;
        z-index: 1;
        background-color: #222222;
    }
    #phone-menu button {
        flex: 1;
        color: white;
    }
    #phone-menu button:hover {
        background-color: black;
        cursor: pointer;
    }
}