/***** SYSTEM *****/
/* MOUSE */
.--pointer {
    cursor: pointer;
}
/* NOSCRIPT */
.--js {
    display: none;
}
/* DESIGN LIMITS */
.--outline {
    outline: 1px solid lightgreen;
}

/***** RESETING *****/
* {
    margin: 0;
    padding: 0;
    border: 0;
    /* INNER BORDER */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* BUTTON FORMAT */
    background-color: transparent;
    /* LINK FORMAT */
    color: inherit;
    text-decoration-line: none;
}
/* FULL SCREEN */
html {
    display: flex;
    height: 100%;
}
body {
    flex: 1;
    display: flex;
}
/* FONT FAMILY */
body, button { font-family: 'Press Start 2P', cursive; }

/***** DISPLAY | VISIBILITY *****/
.fx { display: flex; display: -webkit-flex; }
.none { display: none; }
.hidden { visibility:  hidden; }
.visible { visibility: visible;}

/***** POSITION *****/
.--absol { position: absolute; }
.--fixed { position: fixed; }
.--static { position: static; }
.--stick { position: sticky; position: -webkit-sticky; }

/***** Z-INDEX | 21 Layers *****/
/* BACK LAYERS */
.--z-10 { z-index: -10; }
.--z-9 { z-index: -9; }
.--z-8 { z-index: -8; }
.--z-7 { z-index: -7; }
.--z-6 { z-index: -6; }
.--z-5 { z-index: -5; }
.--z-4 { z-index: -4; }
.--z-3 { z-index: -3; }
.--z-2 { z-index: -2; }
.--z-1 { z-index: -1; }
/* FORWARD LAYERS */
.--z1 { z-index: 1; }
.--z2 { z-index: 2; }
.--z3 { z-index: 3; }
.--z4 { z-index: 4; }
.--z5 { z-index: 5; }
.--z6 { z-index: 6; }
.--z7 { z-index: 7; }
.--z8 { z-index: 8; }
.--z9 { z-index: 9; }
.--z10 { z-index: 10; }

/***** INSET AND SPACING *****/
/* ALL */
.--pos--all { inset: 0; }
.--pos--all5 { inset: 5px; }
.--pos--all10 { inset: 10px; }
.--pos--all15 { inset: 15px; }
.--pos--all20 { inset: 20px; }
.--pos--all25 { inset: 25px; }
.--pos--all50 { inset: 50px; }
.--pos--all75 { inset: 75px; }
.--pos--all100 { inset: 100px; }
/* TOP */
.--top { top: 0; }
.--top5 { top: 5px; }
.--top10 { top: 10px; }
.--top15 { top: 15px; }
.--top20 { top: 20px; }
.--top25 { top: 25px; }
.--top50 { top: 50px; }
/* RIGHT  */
.--right { right: 0; }
.--right5 { right: 5px; }
.--right10 { right: 10px; }
.--right15 { right: 15px; }
.--right20 { right: 20px; }
.--right25 { right: 25px; }
.--right50 { right: 50px; }
/* BOTTOM */
.--bottom { bottom: 0; }
.--bottom5 { bottom: 5px; }
.--bottom10 { bottom: 10px; }
.--bottom15 { bottom: 15px; }
.--bottom20 { bottom: 20px; }
.--bottom25 { bottom: 25px; }
.--bottom50 { bottom: 50px; }
/* LEFT */
.--left { left: 0; }
.--left5 { left: 5px; }
.--left10 { left: 10px; }
.--left15 { left: 15px; }
.--left20 { left: 20px; }
.--left25 { left: 25px; }
.--left50 { left: 50px; }
/* PADDING */
.--pad5 { padding: 5px; }
.--pad10 { padding: 10px; }
.--pad15 { padding: 15px; }
.--pad20 { padding: 20px; }
.--pad25 { padding: 25px; }
.--pad50 { padding: 50px; }
.--pad75 { padding: 75px; }
.--pad100 { padding: 100px; }

/***** FLEX DIRECTION *****/
.--col { flex-direction: column; }
.--colr { flex-direction: column-reverse; }
.--row { flex-direction: row; }
.--rowr { flex-direction: row-reverse; }

/***** CENTERING *****/
/* ALL */
.--ctr {
    align-items: center;
    justify-content: center;
}
/* VERTICAL */
.--vctr {
    align-items: center;
}
/* HORIZONTAL */
.--hctr {
    justify-content: center;
}

/***** TEXT STYLING *****/
/* TEXT COLOR */
.font--black { color: black; }
.font--white { color: white; }
/* TEXT FONT */
.font--fam1 { font-family: 'Press Start 2P', cursive;}

/***** TEXT ALIGN *****/
/* TEXT LEFT */
.--tleft {
    text-align: left;
}
/* TEXT RIGHT */
.--tright {
    text-align: right;
}
/* TEXT CENTER */
.--tctr {
    text-align: center;
}
/* TEXT JUSTIFY */
.--tjust {
    text-align: justify;
}

/***** CONTAINER SIZING *****/
/* DISPLAY + SIZE */
.fx1 { flex: 1; display: flex; display: -webkit-flex; }
.fx2 { flex: 2; display: flex; display: -webkit-flex; }
.fx3 { flex: 3; display: flex; display: -webkit-flex; }
.fx4 { flex: 4; display: flex; display: -webkit-flex; }
.fx5 { flex: 5; display: flex; display: -webkit-flex; }
.fx6 { flex: 6; display: flex; display: -webkit-flex; }
.fx7 { flex: 7; display: flex; display: -webkit-flex; }
.fx8 { flex: 8; display: flex; display: -webkit-flex; }
.fx9 { flex: 9; display: flex; display: -webkit-flex; }
.fx10 { flex: 10; display: flex; display: -webkit-flex; }
/* FLEX SIZE */
.fx-1 { flex: 1; }
.fx-2 { flex: 2; }
.fx-3 { flex: 3; }
.fx-4 { flex: 4; }
.fx-5 { flex: 5; }
.fx-6 { flex: 6; }
.fx-7 { flex: 7; }
.fx-8 { flex: 8; }
.fx-9 { flex: 9; }
.fx-10 { flex: 10; }


/***** PAGE *****/
/* CONTAINER */
#wrapper {
    background-color: cadetblue;
}
/* HEADER */
header {
    background: #272727;
}
/* MAIN CONTAINER */
main {
    background: lightslategray;
}
/* FOOTER */
footer {
    background-color: rgb(15, 15, 15);
}

/**********************************************************************************************/

/* CORTE */

/********** RESPONSIVE DESIGN **********
/***** COMPUTER *****/
@media screen and (orientation:landscape) {
    .--phone {
        display: none!important;
    }
}
/***** PHONE *****/
@media screen and (orientation:portrait) {
    .--computer {
        display: none!important;
    }
}

/* VUELTA */

/* CORTE */



/***** ABSOLUTE POSITION MENU *****/
/* BUTTON */
#absol__menu--toggle {
    width: 70px;
    height: 70px;
    border: 5px solid rgb(15, 15, 15);
    border-radius: 50%;
    background-color: #272727;
}
#absol__menu--toggle::marker {
    content: url('assets/icon/menu.svg');
}
#absol__menu--toggle:hover {
    background: rgb(15, 15, 15);
}
details[open]#absol__menu > summary::marker {
    content: url('assets/icon/closemenu.svg');
}
/* LINKS */
.absol__menu--link {
    display: flex;
    background-color: #272727;
    height: 25%;
}
.absol__menu--link:hover {
    background-color: black;
}

/* VUELTA */
/**********************************************************************************************/



/* LINK STYLING */
.__link--green {
    color: lightgreen;
}
.__link--green:hover {
    color: lightseagreen;
}
.__link--def {
    color: lightskyblue;
}
.__link--def:hover {
    color: blue;
}


/* DETAILS */
summary::marker {
    content: '>';
    color: green;
}
details[open] > summary::marker {
    content: '<';
}



.pages {
    display: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #222;
}
.pages:first-child {
    display: flex;
    align-items: unset;
    justify-content: unset;
    background-color: unset;
}