* {
    margin: 0;
    padding: 0;
    /* BORDER */
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    display: flex;
    height: 100%;
}
body {
    flex: 1;
    display: flex;
    color: white;
    /* FONT */
    font-family: 'Press Start 2P', cursive;
}

button {
    background-color: transparent;
}
a {
    color: inherit;
    text-decoration-line: none;
}

/*** FLEX ***/
/* FLEX DISPLAY */
.--fx {
    display: flex;
}
/* DISPLAY + SIZE */
.--fx1 {
    flex: 1;
    display: flex;
}
.--fx2 {
    flex: 2;
    display: flex;
}
.--fx3 {
    flex: 3;
    display: flex;
}
.--fx4 {
    flex: 4;
    display: flex;
}
.--fx5 {
    flex: 5;
    display: flex;
}
/* FLEX SIZE */
.--fx-1 {
    flex: 1;
}
.--fx-2 {
    flex: 2;
}
.--fx-3 {
    flex: 3;
}
.--fx-4 {
    flex: 4;
}
.--fx-5 {
    flex: 5;
}
.--col {
    flex-direction: column;
}

/* CENTER */
.--ctr {
    align-items: center;
    justify-content: center;
}
/* VERTICAL CENTER */
.--vctr {
    align-items: center;
}
/* HORIZONTAL CENTER */
.--hctr {
    justify-content: center;
}

#wrapper {
    background-color: #272727;
}

header {
    padding: 10px;
}
main {
    background: black;
}
footer {
    padding: 10px;
}