/***** SYSTEM *****/
/* MOUSE */
.--pointer {
    cursor: pointer;
}
/* NOSCRIPT */
.--js {
    display: none;
}
/* DESIGN LIMITS */
.--outline {
    outline: 1px solid lightgreen;
}

/***** RESETING *****/
* {
    margin: 0;
    padding: 0;
    border: 0;
    /* INNER BORDER */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* BUTTON FORMAT */
    background-color: transparent;
    /* LINK FORMAT */
    color: inherit;
    text-decoration-line: none;
}
/* FULL SCREEN */
html {
    display: flex;
    height: 100%;
}
body {
    flex: 1;
    display: flex;
}
/* FONT FAMILY */
body, button { font-family: 'Press Start 2P', cursive; }

/***** DISPLAY | VISIBILITY *****/
.fx { display: flex; display: -webkit-flex; }
.none { display: none; }
.hidden { visibility:  hidden; }
.visible { visibility: visible;}

/***** POSITION *****/
.--absol { position: absolute; }
.--fixed { position: fixed; }
.--static { position: static; }
.--stick { position: sticky; position: -webkit-sticky; }

/***** Z-INDEX | 21 Layers *****/
/* BACK LAYERS */
.--z-10 { z-index: -10; }
.--z-9 { z-index: -9; }
.--z-8 { z-index: -8; }
.--z-7 { z-index: -7; }
.--z-6 { z-index: -6; }
.--z-5 { z-index: -5; }
.--z-4 { z-index: -4; }
.--z-3 { z-index: -3; }
.--z-2 { z-index: -2; }
.--z-1 { z-index: -1; }
/* FORWARD LAYERS */
.--z1 { z-index: 1; }
.--z2 { z-index: 2; }
.--z3 { z-index: 3; }
.--z4 { z-index: 4; }
.--z5 { z-index: 5; }
.--z6 { z-index: 6; }
.--z7 { z-index: 7; }
.--z8 { z-index: 8; }
.--z9 { z-index: 9; }
.--z10 { z-index: 10; }

/***** INSET AND SPACING *****/
/* ALL */
.--pos--all { inset: 0; }
.--pos--all5 { inset: 5px; }
.--pos--all10 { inset: 10px; }
.--pos--all15 { inset: 15px; }
.--pos--all20 { inset: 20px; }
.--pos--all25 { inset: 25px; }
.--pos--all50 { inset: 50px; }
.--pos--all75 { inset: 75px; }
.--pos--all100 { inset: 100px; }
/* TOP */
.--top { top: 0; }
.--top5 { top: 5px; }
.--top10 { top: 10px; }
.--top15 { top: 15px; }
.--top20 { top: 20px; }
.--top25 { top: 25px; }
.--top50 { top: 50px; }
/* RIGHT  */
.--right { right: 0; }
.--right5 { right: 5px; }
.--right10 { right: 10px; }
.--right15 { right: 15px; }
.--right20 { right: 20px; }
.--right25 { right: 25px; }
.--right50 { right: 50px; }
/* BOTTOM */
.--bottom { bottom: 0; }
.--bottom5 { bottom: 5px; }
.--bottom10 { bottom: 10px; }
.--bottom15 { bottom: 15px; }
.--bottom20 { bottom: 20px; }
.--bottom25 { bottom: 25px; }
.--bottom50 { bottom: 50px; }
/* LEFT */
.--left { left: 0; }
.--left5 { left: 5px; }
.--left10 { left: 10px; }
.--left15 { left: 15px; }
.--left20 { left: 20px; }
.--left25 { left: 25px; }
.--left50 { left: 50px; }

/***** PADDING *****/
.--pad5 { padding: 5px; }
.--pad10 { padding: 10px; }
.--pad15 { padding: 15px; }
.--pad20 { padding: 20px; }
.--pad25 { padding: 25px; }
.--pad50 { padding: 50px; }
.--pad75 { padding: 75px; }
.--pad100 { padding: 100px; }
/* TOP */
.--padt5 { padding-top: 5px; }
.--padt10 { padding-top: 10px; }
.--padt15 { padding-top: 15px; }
.--padt20 { padding-top: 20px; }
.--padt25 { padding-top: 25px; }
.--padt50 { padding-top: 50px; }
.--padt75 { padding-top: 75px; }
.--padt100 { padding-top: 100px; }
/* RIGHT */
.--padr5 { padding-right: 5px; }
.--padr10 { padding-right: 10px; }
.--padr15 { padding-right: 15px; }
.--padr20 { padding-right: 20px; }
.--padr25 { padding-right: 25px; }
.--padr50 { padding-right: 50px; }
.--padr75 { padding-right: 75px; }
.--padr100 { padding-right: 100px; }
/* BOTTOM */
.--padb5 { padding-bottom: 5px; }
.--padb10 { padding-bottom: 10px; }
.--padb15 { padding-bottom: 15px; }
.--padb20 { padding-bottom: 20px; }
.--padb25 { padding-bottom: 25px; }
.--padb50 { padding-bottom: 50px; }
.--padb75 { padding-bottom: 75px; }
.--padb100 { padding-bottom: 100px; }
/* LEFT */
.--padl5 { padding-left: 5px; }
.--padl10 { padding-left: 10px; }
.--padl15 { padding-left: 15px; }
.--padl20 { padding-left: 20px; }
.--padl25 { padding-left: 25px; }
.--padl50 { padding-left: 50px; }
.--padl75 { padding-left: 75px; }
.--padl100 { padding-left: 100px; }
/* TOP + BOTTOM */
.--padtb5 { padding-top: 5px; padding-bottom: 5px; }
.--padtb10 { padding-top: 10px; padding-bottom: 10px; }
.--padtb15 { padding-top: 15px; padding-bottom: 15px; }
.--padtb20 { padding-top: 20px; padding-bottom: 20px; }
.--padtb25 { padding-top: 25px; padding-bottom: 25px; }
.--padtb50 { padding-top: 50px; padding-bottom: 50px; }
.--padtb75 { padding-top: 75px; padding-bottom: 75px; }
.--padtb100 { padding-top: 100px; padding-bottom: 100px; }
/* LEFT + RIGHT */
.--padlr5 { padding-left: 5px; padding-right: 5px; }
.--padlr10 { padding-left: 10px; padding-right: 10px; }
.--padlr15 { padding-left: 15px; padding-right: 15px; }
.--padlr20 { padding-left: 20px; padding-right: 20px; }
.--padlr25 { padding-left: 25px; padding-right: 25px; }
.--padlr50 { padding-left: 50px; padding-right: 50px; }
.--padlr75 { padding-left: 75px; padding-right: 75px; }
.--padlr100 { padding-left: 100px; padding-right: 100px; }

/***** BORDER *****/
/* RADIUS */
.--rad1 { border-radius: 1%; }
.--rad2 { border-radius: 2%; }
.--rad3 { border-radius: 3%; }
.--rad4 { border-radius: 4%; }
.--rad5 { border-radius: 5%; }
.--rad10 { border-radius: 10%; }
.--rad15 { border-radius: 15%; }
.--rad20 { border-radius: 20%; }
.--rad25 { border-radius: 25%; }
.--rad30 { border-radius: 30%; }
.--rad35 { border-radius: 35%; }
.--rad40 { border-radius: 40%; }
.--rad45 { border-radius: 45%; }
.--rad { border-radius: 50%; }

/***** FLEX DIRECTION *****/
.--col { flex-direction: column; }
.--colr { flex-direction: column-reverse; }
.--row { flex-direction: row; }
.--rowr { flex-direction: row-reverse; }

/***** CENTERING *****/
/* ALL */
.--ctr {
    align-items: center;
    justify-content: center;
}
/* VERTICAL */
.--vctr {
    align-items: center;
}
/* HORIZONTAL */
.--hctr {
    justify-content: center;
}

/***** TEXT STYLING *****/
/* TEXT COLOR */
.font--black { color: black; }
.font--white { color: white; }
/* TEXT FONT */
.font--fam1 { font-family: 'Press Start 2P', cursive;}

/***** TEXT ALIGN *****/
/* TEXT LEFT */
.--tleft {
    text-align: left;
}
/* TEXT RIGHT */
.--tright {
    text-align: right;
}
/* TEXT CENTER */
.--tctr {
    text-align: center;
}
/* TEXT JUSTIFY */
.--tjust {
    text-align: justify;
}

/***** CONTAINER SIZING *****/
/* SIZE + DISPLAY */
.fx1 { flex: 1; display: flex; display: -webkit-flex; }
.fx2 { flex: 2; display: flex; display: -webkit-flex; }
.fx3 { flex: 3; display: flex; display: -webkit-flex; }
.fx4 { flex: 4; display: flex; display: -webkit-flex; }
.fx5 { flex: 5; display: flex; display: -webkit-flex; }
.fx6 { flex: 6; display: flex; display: -webkit-flex; }
.fx7 { flex: 7; display: flex; display: -webkit-flex; }
.fx8 { flex: 8; display: flex; display: -webkit-flex; }
.fx9 { flex: 9; display: flex; display: -webkit-flex; }
.fx10 { flex: 10; display: flex; display: -webkit-flex; }
/* FLEX SIZE */
.fx-1 { flex: 1; }
.fx-2 { flex: 2; }
.fx-3 { flex: 3; }
.fx-4 { flex: 4; }
.fx-5 { flex: 5; }
.fx-6 { flex: 6; }
.fx-7 { flex: 7; }
.fx-8 { flex: 8; }
.fx-9 { flex: 9; }
.fx-10 { flex: 10; }
/* SIZE */
.--h0 { height: 0; }
.--w0 { width: 0; }
/* SIZE % */
.--h50 { height: 50%; }
.--w50 { width: 50%; }
.--h100 { height: 100%; }
.--w100 { width: 100%; }
/* SIZE PX */
.--h50px { height: 50px; }
.--w50px { width: 50px; }
.--h100px { height: 100px; }
.--w100px { width: 100px; }

/***** PAGE *****/
/* CONTAINER */
#wrapper {
    background-color: cadetblue;
}
/* HEADER */
header {
    background: #272727;
}
/* MAIN CONTAINER */
main {
    background: lightslategray;
}
/* FOOTER */
footer {
    background-color: rgb(15, 15, 15);
}

/**********************************************************************************************/

/* CORTE */

/********** RESPONSIVE DESIGN **********//***** COMPUTER *****/@media screen and (orientation:landscape) {.--phone {display: none!important;}}/***** PHONE *****/@media screen and (orientation:portrait) {.--computer {display: none!important;}}

/* VUELTA */

/* CORTE */


/***** FIXED POSITION MENU *****/
/* MENU */
.menu {
    background-color: #272727;
}
.menu[open] {
    width: 100%;
    height: 100%;
}
/* ICON */
.menu__icon {
    border: 5px solid rgb(15, 15, 15);
    background: #272727;
}
.menu__icon::marker { content: url('assets/icon/menu.svg'); }
.menu__icon:hover { background: rgb(15, 15, 15); }
details[open] > .menu__icon::marker { content: url('assets/icon/closemenu.svg'); }
/* MENU ANIMATIONS */
.menu--to-right[open] { animation: to-right 1.5s cubic-bezier(0.165, 0.84, 0.44, 1); }
.menu--to-left[open] { animation: to-left 1.5s cubic-bezier(0.165, 0.84, 0.44, 1); }



.anim {}

.fixed__menu--link:hover, .menu__option:hover, .menu__opt:hover {
    background-color: black;
}



/* VUELTA */
/**********************************************************************************************/



/* LINK STYLING */
.__link--green {
    color: lightgreen;
}
.__link--green:hover {
    color: lightseagreen;
}
.__link--def {
    color: lightskyblue;
}
.__link--def:hover {
    color: blue;
}


/* DETAILS */
summary::marker {
    content: '>';
    color: green;
}
details[open] > summary::marker {
    content: '<';
}

.pages {
    display: none;
    flex: 1;/*
    background-color: #222;*/
}
.pages:first-child {
    display: flex;
}
/*
.pages:nth-child(2) {
    display: flex;
    background-color: unset;
}*/
.menu__option {
    object-fit: contain;
}

.option {
    max-width: 100%;
}