/* BOTTOM TO TOP */
@keyframes to-top {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}
@-moz-keyframes to-top {
    0% { -moz-transform: translateY(100%); }
    100% { -moz-transform: translateY(0%); }
}
@-ms-keyframes to-top {
    0% { -ms-transform: translateY(100%); }
    100% { -ms-transform: translateY(0%); }
}
@-o-keyframes to-top {
    0% { -o-transform: translateY(100%); }
    100% { -o-transform: translateY(0%); }
}
@-webkit-keyframes to-top {
    0% { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(0%); }
}
/* LEFT TO RIGHT */
@keyframes to-right {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}
@-moz-keyframes to-right {
    0% { -moz-transform: translateX(-100%); }
    100% { -moz-transform: translateX(0%); }
}
@-ms-keyframes to-right {
    0% { -ms-transform: translateX(-100%); }
    100% { -ms-transform: translateX(0%); }
}
@-o-keyframes to-right {
    0% { -o-transform: translateX(-100%); }
    100% { -o-transform: translateX(0%); }
}
@-webkit-keyframes to-right {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}
/* TOP TO BOTTOM */
@keyframes to-bottom {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@-moz-keyframes to-bottom {
    0% { -moz-transform: translateY(-100%); }
    100% { -moz-transform: translateY(0%); }
}
@-ms-keyframes to-bottom {
    0% { -ms-transform: translateY(-100%); }
    100% { -ms-transform: translateY(0%); }
}
@-o-keyframes to-bottom {
    0% { -o-transform: translateY(-100%); }
    100% { -o-transform: translateY(0%); }
}
@-webkit-keyframes to-bottom {
    0% { -webkit-transform: translateY(-100%); }
    100% { -webkit-transform: translateY(0%); }
}
/* RIGHT TO LEFT */
@keyframes to-left {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}
@-moz-keyframes to-left {
    0% { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(0%); }
}
@-ms-keyframes to-left {
    0% { -ms-transform: translateX(100%); }
    100% { -ms-transform: translateX(0%); }
}
@-o-keyframes to-left {
    0% { -o-transform: translateX(100%); }
    100% { -o-transform: translateX(0%); }
}
@-webkit-keyframes to-left {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}